openapi: 3.0.3
info:
  title: KARVIA Pro API
  version: 1.0.0
  description: |
    Multi-tenant OKR management platform with assessment capabilities

    ## Features
    - Role-Based Access Control (RBAC)
    - Multi-tenancy via company_id scoping
    - JWT Authentication (7-day expiry)
    - Real-time analytics & insights
    - AI-powered OKR generation
    - SSI Assessment System (Speed, Strength, Intelligence)

    ## Authentication
    All authenticated endpoints require a Bearer token in the Authorization header.
    Tokens are obtained through `/api/auth/login` or `/api/auth/signup`.

    ## Multi-Tenancy
    Data is automatically scoped to the user's company_id (extracted from JWT).
    CONSULTANT role can manage multiple companies via the `managed_companies` array.

  contact:
    name: KARVIA Support
    email: support@karviapro.com
    url: https://karviapro.com
  license:
    name: Proprietary
    url: https://karviapro.com/terms

servers:
  - url: https://api.karviapro.com/v1
    description: Production
  - url: http://localhost:8080
    description: Local Development

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Companies
    description: Company management (Block 2 IAM)
  - name: Teams
    description: Team management
  - name: Objectives
    description: OKR objectives management
  - name: Goals
    description: Goal management
  - name: Tasks
    description: Task management
  - name: Assessments
    description: SSI assessment system
  - name: Assessment Templates
    description: Assessment template CRUD
  - name: Invitations
    description: Email invitation system
  - name: AI OKR
    description: AI-powered OKR generation
  - name: Analytics
    description: Business intelligence & analytics

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from /api/auth/login or /api/auth/signup
        Token expires after 7 days

        Example: Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

        Token Payload:
        ```json
        {
          "user_id": "507f1f77bcf86cd799439011",
          "email": "john.doe@example.com",
          "role": "MANAGER",
          "company_id": "507f1f77bcf86cd799439012"
        }
        ```

  schemas:
    # ==================== COMMON RESPONSE SCHEMAS ====================
    SuccessResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"

    ErrorResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "An error occurred"
        error:
          type: string
          example: "Detailed error message"

    PaginatedResponse:
      type: object
      required:
        - success
        - count
        - total
        - page
        - pages
      properties:
        success:
          type: boolean
          example: true
        count:
          type: integer
          description: Number of items in current page
          example: 10
        total:
          type: integer
          description: Total number of items
          example: 100
        page:
          type: integer
          description: Current page number
          example: 1
        pages:
          type: integer
          description: Total number of pages
          example: 10
        limit:
          type: integer
          description: Items per page
          example: 10

    # ==================== USER SCHEMAS ====================
    User:
      type: object
      required:
        - _id
        - email
        - first_name
        - last_name
        - role
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439011"
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        first_name:
          type: string
          maxLength: 50
          example: "John"
        last_name:
          type: string
          maxLength: 50
          example: "Doe"
        full_name:
          type: string
          readOnly: true
          example: "John Doe"
          description: "Virtual field - computed from first_name + last_name"
        role:
          type: string
          enum: [CONSULTANT, BUSINESS_OWNER, EXECUTIVE, MANAGER, EMPLOYEE]
          example: "MANAGER"
        company_id:
          type: string
          format: objectId
          description: "Primary company ID (null for CONSULTANT role)"
          example: "507f1f77bcf86cd799439012"
        companies:
          type: array
          description: "Multi-company support (Block 2)"
          items:
            $ref: '#/components/schemas/CompanyMembership'
        current_company_id:
          type: string
          format: objectId
          description: "Currently active company context"
        managed_companies:
          type: array
          description: "For CONSULTANT role - array of managed company IDs"
          items:
            type: string
            format: objectId
        manager_id:
          type: string
          format: objectId
          description: "Manager who oversees this user"
        title:
          type: string
          maxLength: 100
          example: "Senior Marketing Manager"
        avatar_url:
          type: string
          format: uri
          example: "https://cdn.karviapro.com/avatars/user123.jpg"
        department_id:
          type: string
          format: objectId
        team_id:
          type: string
          format: objectId
        permissions:
          $ref: '#/components/schemas/UserPermissions'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        status:
          type: string
          enum: [active, inactive, pending_invite, suspended]
          default: pending_invite
        email_verified:
          type: boolean
          default: false
        account_source:
          type: string
          enum: [direct_signup, invitation]
          default: direct_signup
        invitation_id:
          type: string
          format: objectId
          description: "Invitation ID if account was created via invitation"
        last_login:
          type: string
          format: date-time
        login_count:
          type: integer
          default: 0
        onboarding_completed:
          type: boolean
          default: false
        onboarding_progress:
          $ref: '#/components/schemas/UserOnboardingProgress'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserSummary:
      type: object
      description: "Lightweight user object for lists and references"
      required:
        - _id
        - email
        - first_name
        - last_name
        - role
      properties:
        _id:
          type: string
          format: objectId
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        role:
          type: string
          enum: [CONSULTANT, BUSINESS_OWNER, EXECUTIVE, MANAGER, EMPLOYEE]
        title:
          type: string
        avatar_url:
          type: string
        status:
          type: string
          enum: [active, inactive, pending_invite, suspended]

    CompanyMembership:
      type: object
      required:
        - company_id
        - role
      properties:
        company_id:
          type: string
          format: objectId
        role:
          type: string
          enum: [CONSULTANT, BUSINESS_OWNER, EXECUTIVE, MANAGER, EMPLOYEE]
        joined_at:
          type: string
          format: date-time
        is_primary:
          type: boolean
          default: false
        status:
          type: string
          enum: [active, inactive, suspended]
          default: active

    UserPermissions:
      type: object
      properties:
        can_create_objectives:
          type: boolean
          default: false
        can_manage_teams:
          type: boolean
          default: false
        can_view_analytics:
          type: boolean
          default: false
        can_export_data:
          type: boolean
          default: false
        can_manage_users:
          type: boolean
          default: false
        can_customize_branding:
          type: boolean
          default: false

    UserPreferences:
      type: object
      properties:
        timezone:
          type: string
          default: "America/New_York"
          example: "America/New_York"
        date_format:
          type: string
          enum: [MM/DD/YYYY, DD/MM/YYYY, YYYY-MM-DD]
          default: "MM/DD/YYYY"
        notification_settings:
          type: object
          properties:
            email_notifications:
              type: boolean
              default: true
            goal_reminders:
              type: boolean
              default: true
            weekly_reports:
              type: boolean
              default: true
            achievement_alerts:
              type: boolean
              default: true
        dashboard_layout:
          type: string
          enum: [overview, detailed, minimal]
          default: overview

    UserOnboardingProgress:
      type: object
      properties:
        profile_completed:
          type: boolean
          default: false
        first_login_completed:
          type: boolean
          default: false
        goals_assigned:
          type: boolean
          default: false
        first_task_completed:
          type: boolean
          default: false

    # ==================== COMPANY SCHEMAS ====================
    Company:
      type: object
      required:
        - _id
        - name
        - employee_count
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439012"
        name:
          type: string
          maxLength: 255
          example: "Acme Corp"
        industry:
          type: string
          enum: [consulting, marketing, it_services, professional_services, healthcare, other]
          default: other
          example: "marketing"
        size_category:
          type: string
          enum: [small, medium, large]
          default: medium
          example: "medium"
        employee_count:
          type: integer
          minimum: 1
          maximum: 500
          example: 50
        website:
          type: string
          format: uri
          example: "https://acmecorp.com"
        assessment_scores:
          $ref: '#/components/schemas/AssessmentScores'
        subscription_tier:
          type: string
          enum: [starter, professional, enterprise]
          default: professional
        ibrain_enabled:
          type: boolean
          default: false
          description: "Enable iBrain AI agents (can be disabled for external parties)"
        branding:
          $ref: '#/components/schemas/CompanyBranding'
        settings:
          $ref: '#/components/schemas/CompanySettings'
        onboarding_completed:
          type: boolean
          default: false
        onboarding_progress:
          $ref: '#/components/schemas/CompanyOnboardingProgress'
        status:
          type: string
          enum: [active, inactive, trial, suspended]
          default: trial
        trial_started_at:
          type: string
          format: date-time
        subscription_started_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        # Virtual/Computed Fields
        company_health_score:
          type: number
          readOnly: true
          description: "Computed: average of speed, strength, intelligence scores"
          example: 75
        size_description:
          type: string
          readOnly: true
          example: "Medium Company (51-200 employees)"
        subscription_status:
          type: string
          readOnly: true
          enum: [active, inactive, trial, trial_expired, suspended]
          example: "trial"
        assessment_due:
          type: boolean
          readOnly: true
          description: "True if assessment hasn't been done in 3+ months"

    CompanySummary:
      type: object
      description: "Lightweight company object for lists"
      required:
        - _id
        - name
      properties:
        _id:
          type: string
          format: objectId
        name:
          type: string
        industry:
          type: string
        employee_count:
          type: integer
        status:
          type: string
          enum: [active, inactive, trial, suspended]
        subscription_tier:
          type: string

    AssessmentScores:
      type: object
      properties:
        speed_score:
          type: number
          minimum: 0
          maximum: 100
          default: 0
          example: 75
        strength_score:
          type: number
          minimum: 0
          maximum: 100
          default: 0
          example: 80
        intelligence_score:
          type: number
          minimum: 0
          maximum: 100
          default: 0
          example: 70
        overall_score:
          type: number
          minimum: 0
          maximum: 100
          default: 0
          example: 75
        last_assessed:
          type: string
          format: date-time
        readiness_profile:
          type: string
          enum: [getting_started, developing, advanced, optimized]
          default: getting_started

    CompanyBranding:
      type: object
      properties:
        primary_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          default: "#1e40af"
          example: "#1e40af"
        secondary_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          default: "#059669"
          example: "#059669"
        logo_url:
          type: string
          format: uri
          example: "https://cdn.karviapro.com/logos/company123.png"
        custom_domain:
          type: string
          example: "okr.acmecorp.com"
        company_name_override:
          type: string
          description: "Override display name for white-label"
          example: "Acme Performance System"

    CompanySettings:
      type: object
      properties:
        fiscal_year_start:
          type: integer
          minimum: 1
          maximum: 12
          default: 1
          example: 1
          description: "Month number (1=January, 12=December)"
        default_currency:
          type: string
          default: "USD"
          example: "USD"
        timezone:
          type: string
          default: "America/New_York"
          example: "America/New_York"
        business_hours:
          type: object
          properties:
            start_time:
              type: string
              pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
              default: "09:00"
            end_time:
              type: string
              pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
              default: "17:00"
            working_days:
              type: array
              default: [monday, tuesday, wednesday, thursday, friday]
              items:
                type: string
                enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday]

    CompanyOnboardingProgress:
      type: object
      properties:
        assessment_completed:
          type: boolean
          default: false
        team_setup_completed:
          type: boolean
          default: false
        first_objective_created:
          type: boolean
          default: false
        first_goals_assigned:
          type: boolean
          default: false

    CompanyStats:
      type: object
      description: "Company statistics and metrics"
      properties:
        users:
          type: object
          properties:
            total:
              type: integer
              example: 45
            target:
              type: integer
              example: 50
        teams:
          type: integer
          example: 8
        objectives:
          type: integer
          example: 24
        goals:
          type: integer
          example: 120
        assessment_scores:
          $ref: '#/components/schemas/AssessmentScores'
        onboarding_progress:
          $ref: '#/components/schemas/CompanyOnboardingProgress'
        subscription:
          type: object
          properties:
            tier:
              type: string
            status:
              type: string
            trial_started:
              type: string
              format: date-time

    # ==================== AUTHENTICATION SCHEMAS ====================
    SignupRequest:
      type: object
      required:
        - email
        - password
        - first_name
        - last_name
        - company_name
      properties:
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        password:
          type: string
          format: password
          minLength: 6
          example: "SecurePass123!"
        first_name:
          type: string
          maxLength: 50
          example: "John"
        last_name:
          type: string
          maxLength: 50
          example: "Doe"
        company_name:
          type: string
          maxLength: 255
          example: "Acme Corp"
        industry:
          type: string
          enum: [consulting, marketing, it_services, professional_services, healthcare, other]
          default: other
        employee_count:
          type: integer
          minimum: 1
          default: 1

    SignupResponse:
      type: object
      required:
        - success
        - message
        - token
        - user
        - company
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Account created successfully"
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        user:
          $ref: '#/components/schemas/UserSummary'
        company:
          $ref: '#/components/schemas/CompanySummary'

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        password:
          type: string
          format: password
          example: "SecurePass123!"

    LoginResponse:
      type: object
      required:
        - success
        - message
        - token
        - user
        - company
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Login successful"
        token:
          type: string
          description: "JWT token valid for 7 days"
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        user:
          allOf:
            - $ref: '#/components/schemas/UserSummary'
            - type: object
              properties:
                last_login:
                  type: string
                  format: date-time
        company:
          $ref: '#/components/schemas/CompanySummary'

    ValidateTokenRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

    # ==================== TEAM SCHEMAS ====================
    Team:
      type: object
      required:
        - _id
        - name
        - company_id
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439013"
        name:
          type: string
          maxLength: 100
          example: "Marketing Team"
        description:
          type: string
          maxLength: 500
          example: "Digital marketing and brand management"
        company_id:
          type: string
          format: objectId
          description: "Company this team belongs to"
        department_id:
          type: string
          format: objectId
          description: "Department this team belongs to"
        team_lead_id:
          type: string
          format: objectId
          description: "User ID of team lead"
        team_lead:
          $ref: '#/components/schemas/UserSummary'
        member_ids:
          type: array
          items:
            type: string
            format: objectId
        members:
          type: array
          items:
            $ref: '#/components/schemas/UserSummary'
        member_count:
          type: integer
          readOnly: true
          example: 8
        status:
          type: string
          enum: [active, inactive, archived]
          default: active
        objective_count:
          type: integer
          readOnly: true
          description: "Number of active objectives"
          example: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TeamDetail:
      allOf:
        - $ref: '#/components/schemas/Team'
        - type: object
          properties:
            members_detail:
              type: array
              items:
                $ref: '#/components/schemas/User'
            objectives:
              type: array
              items:
                $ref: '#/components/schemas/ObjectiveSummary'
            performance_metrics:
              $ref: '#/components/schemas/TeamPerformanceMetrics'

    TeamStats:
      type: object
      properties:
        member_count:
          type: integer
          example: 8
        active_objectives:
          type: integer
          example: 5
        completed_objectives:
          type: integer
          example: 12
        objective_completion_rate:
          type: number
          format: float
          example: 75.5
        average_key_result_progress:
          type: number
          format: float
          example: 68.2
        goals:
          type: object
          properties:
            total:
              type: integer
              example: 45
            completed:
              type: integer
              example: 30
            in_progress:
              type: integer
              example: 10
            overdue:
              type: integer
              example: 5
        task_velocity:
          type: object
          properties:
            weekly_average:
              type: number
              example: 12.5
            trend:
              type: string
              enum: [increasing, stable, decreasing]
              example: "increasing"

    TeamPerformanceMetrics:
      type: object
      properties:
        okr_performance:
          type: object
          properties:
            average_progress:
              type: number
              example: 72.5
            on_track_count:
              type: integer
              example: 4
            at_risk_count:
              type: integer
              example: 1
        productivity:
          type: object
          properties:
            tasks_completed_this_week:
              type: integer
              example: 18
            goals_achieved_this_month:
              type: integer
              example: 8
        engagement:
          type: object
          properties:
            active_members:
              type: integer
              example: 7
            participation_rate:
              type: number
              example: 87.5

    # ==================== PART 3 COMPONENT SCHEMAS ====================
    # Task, Assessment, and Assessment Template Schemas

    # ==================== TASK SCHEMAS ====================
    Task:
      type: object
      required:
        - _id
        - title
        - assigned_to
        - company_id
        - status
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439017"
        title:
          type: string
          maxLength: 200
          example: "Review Q1 marketing metrics"
        description:
          type: string
          maxLength: 2000
          example: "Compile and analyze marketing performance metrics for Q1"
        company_id:
          type: string
          format: objectId
        goal_id:
          type: string
          format: objectId
          description: "Linked goal (optional)"
        goal:
          $ref: '#/components/schemas/GoalSummary'
        assigned_to:
          type: string
          format: objectId
          description: "User assigned to task"
        assigned_user:
          $ref: '#/components/schemas/UserSummary'
        created_by:
          type: string
          format: objectId
        creator:
          $ref: '#/components/schemas/UserSummary'
        priority:
          type: string
          enum: [low, medium, high, critical]
          default: medium
        status:
          type: string
          enum: [todo, in_progress, done, blocked]
          default: todo
        progress_percentage:
          type: integer
          minimum: 0
          maximum: 100
          default: 0
        due_date:
          type: string
          format: date-time
          example: "2025-02-15T17:00:00Z"
        completed_date:
          type: string
          format: date-time
        estimated_hours:
          type: number
          minimum: 0.5
          maximum: 100
          example: 4
        actual_hours:
          type: number
          example: 3.5
        blocked_reason:
          type: string
          description: "Required when status is 'blocked'"
        tags:
          type: array
          items:
            type: string
          example: ["marketing", "analytics", "Q1"]
        checklist:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistItem'
        checklist_progress:
          type: object
          readOnly: true
          properties:
            completed:
              type: integer
            total:
              type: integer
            percentage:
              type: number
        recurring:
          $ref: '#/components/schemas/RecurringConfig'
        time_logs:
          type: array
          items:
            $ref: '#/components/schemas/TimeLog'
        comments_count:
          type: integer
          readOnly: true
          default: 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TaskDetail:
      allOf:
        - $ref: '#/components/schemas/Task'
        - type: object
          properties:
            comments:
              type: array
              items:
                $ref: '#/components/schemas/Comment'
            activity_log:
              type: array
              items:
                $ref: '#/components/schemas/ActivityLogEntry'
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/Attachment'

    TaskSuggestion:
      type: object
      properties:
        title:
          type: string
          example: "Conduct stakeholder interviews"
        description:
          type: string
          example: "Interview key stakeholders to gather requirements"
        rationale:
          type: string
          example: "Critical for understanding user needs"
        estimated_hours:
          type: number
          example: 8
        priority:
          type: string
          enum: [low, medium, high, critical]
        suggested_due_date:
          type: string
          format: date
        dependencies:
          type: array
          items:
            type: string
        checklist_suggestions:
          type: array
          items:
            type: string

    ChecklistItem:
      type: object
      required:
        - item
      properties:
        _id:
          type: string
          format: objectId
        item:
          type: string
          maxLength: 200
          example: "Gather data from Google Analytics"
        completed:
          type: boolean
          default: false
        completed_by:
          type: string
          format: objectId
        completed_at:
          type: string
          format: date-time
        order:
          type: integer
          minimum: 0

    RecurringConfig:
      type: object
      properties:
        enabled:
          type: boolean
          default: false
        frequency:
          type: string
          enum: [daily, weekly, monthly]
        interval:
          type: integer
          minimum: 1
          default: 1
          description: "Every N days/weeks/months"
        days_of_week:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          description: "For weekly: 0=Sunday, 6=Saturday"
        day_of_month:
          type: integer
          minimum: 1
          maximum: 31
          description: "For monthly recurrence"
        end_date:
          type: string
          format: date
        occurrences:
          type: integer
          minimum: 1
          description: "Number of occurrences before ending"

    TimeLog:
      type: object
      properties:
        _id:
          type: string
          format: objectId
        user_id:
          type: string
          format: objectId
        hours:
          type: number
          minimum: 0.1
          maximum: 24
        date:
          type: string
          format: date
        notes:
          type: string
          maxLength: 500
        created_at:
          type: string
          format: date-time

    Attachment:
      type: object
      properties:
        _id:
          type: string
          format: objectId
        filename:
          type: string
          example: "marketing-report.pdf"
        url:
          type: string
          format: uri
        size:
          type: integer
          description: "File size in bytes"
        mime_type:
          type: string
          example: "application/pdf"
        uploaded_by:
          type: string
          format: objectId
        uploaded_at:
          type: string
          format: date-time

    # ==================== ASSESSMENT SCHEMAS ====================
    Assessment:
      type: object
      required:
        - _id
        - template_id
        - company_id
        - participant_id
        - status
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439018"
        template_id:
          type: string
          format: objectId
          description: "Assessment template used"
        template:
          $ref: '#/components/schemas/AssessmentTemplateSummary'
        company_id:
          type: string
          format: objectId
        participant_id:
          type: string
          format: objectId
          description: "User taking the assessment"
        participant:
          $ref: '#/components/schemas/UserSummary'
        status:
          type: string
          enum: [pending, in_progress, completed]
          default: pending
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        time_spent_minutes:
          type: integer
          description: "Total time spent on assessment"
        progress:
          type: object
          properties:
            answered:
              type: integer
              example: 45
            total:
              type: integer
              example: 50
            percentage:
              type: number
              example: 90
        scores:
          $ref: '#/components/schemas/AssessmentScores'
        invitation_id:
          type: string
          format: objectId
          description: "If assessment was via invitation"
        context:
          type: object
          properties:
            role:
              type: string
            department:
              type: string
            team_id:
              type: string
              format: objectId
            assessment_type:
              type: string
              enum: [self, manager, peer, 360]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AssessmentDetail:
      allOf:
        - $ref: '#/components/schemas/Assessment'
        - type: object
          properties:
            questions:
              type: array
              items:
                $ref: '#/components/schemas/AssessmentQuestionWithResponse'
            analysis:
              $ref: '#/components/schemas/AssessmentAnalysis'
            recommendations:
              type: array
              items:
                $ref: '#/components/schemas/AssessmentRecommendation'

    AssessmentScores:
      type: object
      properties:
        speed_score:
          type: number
          minimum: 0
          maximum: 100
          example: 75
        strength_score:
          type: number
          minimum: 0
          maximum: 100
          example: 82
        intelligence_score:
          type: number
          minimum: 0
          maximum: 100
          example: 78
        overall_score:
          type: number
          minimum: 0
          maximum: 100
          example: 78.3
        percentile:
          type: object
          properties:
            speed:
              type: integer
              example: 65
            strength:
              type: integer
              example: 75
            intelligence:
              type: integer
              example: 70
            overall:
              type: integer
              example: 70
        dimension_scores:
          type: array
          items:
            type: object
            properties:
              dimension:
                type: string
                example: "Innovation"
              category:
                type: string
                enum: [speed, strength, intelligence]
              score:
                type: number
              max_score:
                type: number

    AssessmentQuestion:
      type: object
      required:
        - _id
        - text
        - category
      properties:
        _id:
          type: string
          format: objectId
        text:
          type: string
          example: "How effectively does your team adapt to changing priorities?"
        category:
          type: string
          enum: [speed, strength, intelligence]
          example: "speed"
        dimension:
          type: string
          example: "Agility"
        sub_dimension:
          type: string
          example: "Change Management"
        response_type:
          type: string
          enum: [likert, yes_no, multiple_choice, text]
          default: likert
        response_scale:
          type: object
          properties:
            min:
              type: integer
              default: 1
            max:
              type: integer
              default: 5
            labels:
              type: array
              items:
                type: string
              example: ["Strongly Disagree", "Disagree", "Neutral", "Agree", "Strongly Agree"]
        weight:
          type: number
          default: 1
          description: "Question weight in scoring"
        is_required:
          type: boolean
          default: true
        order:
          type: integer
        help_text:
          type: string
          example: "Consider the past 3 months when answering"

    AssessmentQuestionWithResponse:
      allOf:
        - $ref: '#/components/schemas/AssessmentQuestion'
        - type: object
          properties:
            response:
              type: object
              properties:
                value:
                  type: integer
                  minimum: 1
                  maximum: 5
                text_response:
                  type: string
                answered_at:
                  type: string
                  format: date-time

    AssessmentAnalysis:
      type: object
      properties:
        strengths:
          type: array
          items:
            type: object
            properties:
              area:
                type: string
              score:
                type: number
              description:
                type: string
        weaknesses:
          type: array
          items:
            type: object
            properties:
              area:
                type: string
              score:
                type: number
              description:
                type: string
        opportunities:
          type: array
          items:
            type: object
            properties:
              area:
                type: string
              potential_impact:
                type: string
                enum: [low, medium, high]
              description:
                type: string
        threats:
          type: array
          items:
            type: object
            properties:
              area:
                type: string
              risk_level:
                type: string
                enum: [low, medium, high]
              description:
                type: string
        readiness_level:
          type: string
          enum: [getting_started, developing, advanced, optimized]
        maturity_score:
          type: number
          minimum: 0
          maximum: 100

    AssessmentResults:
      type: object
      properties:
        assessment:
          $ref: '#/components/schemas/Assessment'
        scores:
          $ref: '#/components/schemas/AssessmentScores'
        analysis:
          $ref: '#/components/schemas/AssessmentAnalysis'
        benchmarks:
          type: object
          properties:
            industry:
              $ref: '#/components/schemas/BenchmarkComparison'
            company:
              $ref: '#/components/schemas/BenchmarkComparison'
            role:
              $ref: '#/components/schemas/BenchmarkComparison'
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/AssessmentRecommendation'
        action_plan:
          type: array
          items:
            $ref: '#/components/schemas/ActionPlanItem'
        progress_tracking:
          type: object
          properties:
            previous_assessment:
              $ref: '#/components/schemas/AssessmentScores'
            improvement_areas:
              type: array
              items:
                type: string
            declining_areas:
              type: array
              items:
                type: string

    AssessmentRecommendation:
      type: object
      properties:
        category:
          type: string
          enum: [speed, strength, intelligence]
        priority:
          type: string
          enum: [low, medium, high, critical]
        title:
          type: string
          example: "Implement agile methodologies"
        description:
          type: string
        expected_impact:
          type: object
          properties:
            score_improvement:
              type: number
              example: 10
            timeframe:
              type: string
              example: "3 months"
        resources:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [article, video, course, tool]
              title:
                type: string
              url:
                type: string
                format: uri

    BenchmarkComparison:
      type: object
      properties:
        average:
          type: number
        percentile:
          type: integer
        comparison:
          type: string
          enum: [below_average, average, above_average, excellent]
        gap:
          type: number
          description: "Score difference from benchmark"

    ActionPlanItem:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high, critical]
        timeframe:
          type: string
          enum: [immediate, short_term, medium_term, long_term]
        owner:
          type: string
        success_metrics:
          type: array
          items:
            type: string
        dependencies:
          type: array
          items:
            type: string

    AssessmentHistoryItem:
      type: object
      properties:
        assessment_id:
          type: string
          format: objectId
        date:
          type: string
          format: date-time
        scores:
          $ref: '#/components/schemas/AssessmentScores'
        template_name:
          type: string
        status:
          type: string
          enum: [completed, in_progress]

    AssessmentTrends:
      type: object
      properties:
        speed_trend:
          type: string
          enum: [improving, stable, declining]
        strength_trend:
          type: string
          enum: [improving, stable, declining]
        intelligence_trend:
          type: string
          enum: [improving, stable, declining]
        overall_trend:
          type: string
          enum: [improving, stable, declining]
        average_improvement:
          type: number
          description: "Average score improvement percentage"
        best_improvement:
          type: object
          properties:
            category:
              type: string
            improvement:
              type: number
        assessment_frequency:
          type: string
          description: "Average time between assessments"

    TeamAssessmentAggregation:
      type: object
      properties:
        participant_count:
          type: integer
          example: 25
        completion_rate:
          type: number
          example: 92
        average_scores:
          $ref: '#/components/schemas/AssessmentScores'
        score_distribution:
          type: object
          properties:
            speed:
              $ref: '#/components/schemas/ScoreDistribution'
            strength:
              $ref: '#/components/schemas/ScoreDistribution'
            intelligence:
              $ref: '#/components/schemas/ScoreDistribution'
        department_breakdown:
          type: array
          items:
            type: object
            properties:
              department:
                type: string
              participant_count:
                type: integer
              average_scores:
                $ref: '#/components/schemas/AssessmentScores'
        role_breakdown:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              participant_count:
                type: integer
              average_scores:
                $ref: '#/components/schemas/AssessmentScores'
        top_performers:
          type: array
          items:
            type: object
            properties:
              user:
                $ref: '#/components/schemas/UserSummary'
              overall_score:
                type: number
        areas_of_excellence:
          type: array
          items:
            type: string
        areas_for_improvement:
          type: array
          items:
            type: string

    ScoreDistribution:
      type: object
      properties:
        min:
          type: number
        max:
          type: number
        mean:
          type: number
        median:
          type: number
        std_dev:
          type: number
        quartiles:
          type: object
          properties:
            q1:
              type: number
            q2:
              type: number
            q3:
              type: number

    # ==================== ASSESSMENT TEMPLATE SCHEMAS ====================
    AssessmentTemplate:
      type: object
      required:
        - _id
        - name
        - type
        - company_id
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439019"
        name:
          type: string
          maxLength: 100
          example: "Quarterly Performance Assessment"
        description:
          type: string
          maxLength: 500
        type:
          type: string
          enum: [standard, quick, role_specific, custom]
          example: "custom"
        company_id:
          type: string
          format: objectId
          description: "Company that owns this template (null for system templates)"
        is_system:
          type: boolean
          default: false
          description: "System-provided template"
        question_count:
          type: integer
          readOnly: true
          example: 50
        estimated_duration:
          type: integer
          description: "Estimated completion time in minutes"
          example: 15
        frequency:
          type: string
          enum: [one_time, monthly, quarterly, annually]
          default: quarterly
        roles:
          type: array
          items:
            type: string
            enum: [EMPLOYEE, MANAGER, EXECUTIVE, ALL]
          description: "Roles this template applies to"
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                enum: [speed, strength, intelligence]
              weight:
                type: number
                default: 1
              question_count:
                type: integer
        is_active:
          type: boolean
          default: true
        usage_count:
          type: integer
          readOnly: true
          default: 0
        last_used:
          type: string
          format: date-time
        created_by:
          type: string
          format: objectId
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AssessmentTemplateDetail:
      allOf:
        - $ref: '#/components/schemas/AssessmentTemplate'
        - type: object
          properties:
            questions:
              type: array
              items:
                $ref: '#/components/schemas/AssessmentTemplateQuestion'
            scoring_config:
              $ref: '#/components/schemas/ScoringConfig'
            statistics:
              $ref: '#/components/schemas/TemplateStatistics'

    AssessmentTemplateSummary:
      type: object
      properties:
        _id:
          type: string
          format: objectId
        name:
          type: string
        type:
          type: string
          enum: [standard, quick, role_specific, custom]
        question_count:
          type: integer
        estimated_duration:
          type: integer

    AssessmentTemplateQuestion:
      type: object
      properties:
        question_id:
          type: string
          format: objectId
        question:
          $ref: '#/components/schemas/AssessmentQuestion'
        category:
          type: string
          enum: [speed, strength, intelligence]
        dimension:
          type: string
        weight:
          type: number
          default: 1
        is_required:
          type: boolean
          default: true
        order:
          type: integer

    AssessmentTemplatePreview:
      type: object
      properties:
        template:
          $ref: '#/components/schemas/AssessmentTemplateSummary'
        sample_questions:
          type: array
          items:
            $ref: '#/components/schemas/AssessmentQuestion'
          description: "First 10 questions as preview"
        estimated_duration:
          type: integer
          example: 15
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              question_count:
                type: integer
              weight:
                type: number
        scoring_preview:
          type: object
          properties:
            method:
              type: string
              enum: [simple_average, weighted_average, custom]
            max_score:
              type: number

    ScoringConfig:
      type: object
      properties:
        method:
          type: string
          enum: [simple_average, weighted_average, custom]
          default: weighted_average
        category_weights:
          type: object
          properties:
            speed:
              type: number
              default: 1
            strength:
              type: number
              default: 1
            intelligence:
              type: number
              default: 1
        dimension_weights:
          type: object
          additionalProperties:
            type: number
        custom_formula:
          type: string
          description: "Custom scoring formula (if method is 'custom')"
        thresholds:
          type: object
          properties:
            excellent:
              type: number
              default: 90
            good:
              type: number
              default: 75
            satisfactory:
              type: number
              default: 60
            needs_improvement:
              type: number
              default: 40

    TemplateStatistics:
      type: object
      properties:
        usage_count:
          type: integer
          example: 125
        active_assessments:
          type: integer
          example: 5
        completed_assessments:
          type: integer
          example: 120
        average_completion_time:
          type: integer
          description: "Average time in minutes"
          example: 18
        completion_rate:
          type: number
          example: 96
        average_scores:
          $ref: '#/components/schemas/AssessmentScores'
        satisfaction_rating:
          type: number
          minimum: 1
          maximum: 5
          example: 4.2
        last_30_days:
          type: object
          properties:
            assessments_started:
              type: integer
            assessments_completed:
              type: integer
            average_score:
              type: number# ==================== AUTHENTICATION ENDPOINTS ====================
    # ==================== PART 4 COMPONENT SCHEMAS ====================
    # Invitations, AI OKR Generation, and Analytics Schemas

    # ==================== INVITATION SCHEMAS ====================
    Invitation:
      type: object
      required:
        - _id
        - email
        - role
        - company_id
        - token
        - status
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439020"
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        first_name:
          type: string
          example: "John"
        last_name:
          type: string
          example: "Doe"
        role:
          type: string
          enum: [EMPLOYEE, MANAGER, EXECUTIVE]
          example: "EMPLOYEE"
        company_id:
          type: string
          format: objectId
        company:
          $ref: '#/components/schemas/CompanySummary'
        team_id:
          type: string
          format: objectId
          description: "Pre-assigned team"
        department:
          type: string
          example: "Engineering"
        token:
          type: string
          example: "inv_abc123xyz789"
          description: "Unique invitation token"
        status:
          type: string
          enum: [pending, accepted, expired, cancelled]
          default: pending
        custom_message:
          type: string
          maxLength: 500
        sent_by:
          type: string
          format: objectId
        sender:
          $ref: '#/components/schemas/UserSummary'
        sent_at:
          type: string
          format: date-time
        last_sent_at:
          type: string
          format: date-time
          description: "Last time invitation was sent/resent"
        accepted_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        include_assessment:
          type: boolean
          default: false
        email_status:
          type: object
          properties:
            sent:
              type: boolean
            delivered:
              type: boolean
            opened:
              type: boolean
            clicked:
              type: boolean
            bounced:
              type: boolean
            bounce_reason:
              type: string
        resend_count:
          type: integer
          default: 0
        created_user_id:
          type: string
          format: objectId
          description: "User ID created from this invitation"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InvitationDetail:
      allOf:
        - $ref: '#/components/schemas/Invitation'
        - type: object
          properties:
            activity_log:
              type: array
              items:
                type: object
                properties:
                  action:
                    type: string
                    enum: [created, sent, resent, opened, clicked, accepted, expired, cancelled]
                  timestamp:
                    type: string
                    format: date-time
                  details:
                    type: object
            acceptance_data:
              type: object
              properties:
                ip_address:
                  type: string
                user_agent:
                  type: string
                accepted_from:
                  type: string

    InvitationStatistics:
      type: object
      properties:
        total_sent:
          type: integer
          example: 150
        total_accepted:
          type: integer
          example: 120
        total_pending:
          type: integer
          example: 25
        total_expired:
          type: integer
          example: 5
        acceptance_rate:
          type: number
          format: float
          example: 80.0
        average_time_to_accept:
          type: object
          properties:
            hours:
              type: number
              example: 48
            readable:
              type: string
              example: "2 days"
        by_role:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              sent:
                type: integer
              accepted:
                type: integer
              acceptance_rate:
                type: number
        by_sender:
          type: array
          items:
            type: object
            properties:
              sender:
                $ref: '#/components/schemas/UserSummary'
              sent:
                type: integer
              accepted:
                type: integer
        email_metrics:
          type: object
          properties:
            delivery_rate:
              type: number
            open_rate:
              type: number
            click_rate:
              type: number
            bounce_rate:
              type: number
        recent_activity:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              action:
                type: string
              timestamp:
                type: string
                format: date-time

    # ==================== AI OKR SCHEMAS ====================
    AIOKRSuggestion:
      type: object
      required:
        - _id
        - assessment_id
        - user_id
        - company_id
        - status
      properties:
        _id:
          type: string
          format: objectId
          example: "507f1f77bcf86cd799439021"
        assessment_id:
          type: string
          format: objectId
          description: "Source assessment"
        assessment:
          $ref: '#/components/schemas/Assessment'
        user_id:
          type: string
          format: objectId
        user:
          $ref: '#/components/schemas/UserSummary'
        company_id:
          type: string
          format: objectId
        status:
          type: string
          enum: [pending, approved, dismissed, edited]
          default: pending
        objective:
          type: object
          properties:
            title:
              type: string
              example: "Improve customer response time by 50%"
            description:
              type: string
              example: "Enhance customer support efficiency through automation and training"
            period:
              type: string
              enum: [Q1, Q2, Q3, Q4, yearly]
            target_completion_date:
              type: string
              format: date
            owner_type:
              type: string
              enum: [company, team, individual]
            tags:
              type: array
              items:
                type: string
        key_results:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              metric_type:
                type: string
                enum: [percentage, number, currency, boolean]
              start_value:
                type: number
              target_value:
                type: number
              unit:
                type: string
        rationale:
          type: string
          description: "AI explanation for why this objective was suggested"
          example: "Based on your Speed score of 65, improving response times will have the highest impact"
        priority_score:
          type: number
          minimum: 0
          maximum: 100
          description: "AI-calculated priority"
          example: 85
        confidence_level:
          type: number
          minimum: 0
          maximum: 1
          description: "AI confidence in this suggestion"
          example: 0.92
        impact_areas:
          type: array
          items:
            type: string
            enum: [speed, strength, intelligence]
        expected_improvement:
          type: object
          properties:
            speed_score:
              type: number
            strength_score:
              type: number
            intelligence_score:
              type: number
            overall_score:
              type: number
        approved_at:
          type: string
          format: date-time
        approved_by:
          type: string
          format: objectId
        dismissed_at:
          type: string
          format: date-time
        dismissed_reason:
          type: string
        created_objective_id:
          type: string
          format: objectId
          description: "ID of objective created from this suggestion"
        generation_parameters:
          type: object
          properties:
            aggressiveness:
              type: string
              enum: [conservative, moderate, aggressive]
            focus_areas:
              type: array
              items:
                type: string
            time_horizon:
              type: string
            threshold:
              type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ==================== ANALYTICS SCHEMAS ====================
    TeamAnalytics:
      type: object
      properties:
        team_id:
          type: string
          format: objectId
        period:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
            label:
              type: string
              example: "Q1 2025"
        okr_metrics:
          type: object
          properties:
            total_objectives:
              type: integer
            completed_objectives:
              type: integer
            at_risk_objectives:
              type: integer
            on_track_objectives:
              type: integer
            average_progress:
              type: number
            completion_rate:
              type: number
            key_results:
              type: object
              properties:
                total:
                  type: integer
                completed:
                  type: integer
                average_progress:
                  type: number
        goal_metrics:
          type: object
          properties:
            total_goals:
              type: integer
            completed_goals:
              type: integer
            overdue_goals:
              type: integer
            achievement_rate:
              type: number
            by_priority:
              type: object
              properties:
                critical:
                  type: integer
                high:
                  type: integer
                medium:
                  type: integer
                low:
                  type: integer
        task_metrics:
          type: object
          properties:
            total_tasks:
              type: integer
            completed_tasks:
              type: integer
            velocity:
              type: number
              description: "Tasks completed per week"
            average_completion_time:
              type: number
              description: "Hours"
            efficiency_score:
              type: number
        assessment_metrics:
          type: object
          properties:
            latest_scores:
              $ref: '#/components/schemas/AssessmentScores'
            score_change:
              type: object
              properties:
                speed:
                  type: number
                strength:
                  type: number
                intelligence:
                  type: number
                overall:
                  type: number
        engagement_metrics:
          type: object
          properties:
            active_users:
              type: integer
            participation_rate:
              type: number
            average_login_frequency:
              type: string
              example: "3.5 times per week"
        comparison:
          type: object
          properties:
            previous_period:
              type: object
              properties:
                okr_progress_change:
                  type: number
                goal_completion_change:
                  type: number
                task_velocity_change:
                  type: number
            company_average:
              type: object
              properties:
                okr_progress_delta:
                  type: number
                goal_completion_delta:
                  type: number
                task_velocity_delta:
                  type: number

    AnalyticsDrilldown:
      type: object
      properties:
        dimension:
          type: string
        value:
          type: string
        data_points:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: number
              count:
                type: integer
              percentage:
                type: number
        breakdown:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              metrics:
                type: object
                additionalProperties:
                  type: number
        trends:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              value:
                type: number
        insights:
          type: array
          items:
            type: string

    ProgressAnalytics:
      type: object
      properties:
        overall:
          type: object
          properties:
            completion_rate:
              type: number
            on_track_percentage:
              type: number
            at_risk_percentage:
              type: number
            average_progress:
              type: number
        by_entity:
          type: object
          properties:
            objectives:
              $ref: '#/components/schemas/EntityProgress'
            goals:
              $ref: '#/components/schemas/EntityProgress'
            tasks:
              $ref: '#/components/schemas/EntityProgress'
        burndown:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              planned:
                type: number
              actual:
                type: number
              projected:
                type: number
        velocity_trend:
          type: array
          items:
            type: object
            properties:
              period:
                type: string
              velocity:
                type: number
        risk_analysis:
          type: object
          properties:
            high_risk_items:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: string
                    format: objectId
                  title:
                    type: string
                  risk_level:
                    type: string
                  mitigation:
                    type: string

    EntityProgress:
      type: object
      properties:
        total:
          type: integer
        completed:
          type: integer
        in_progress:
          type: integer
        not_started:
          type: integer
        overdue:
          type: integer
        completion_rate:
          type: number
        average_progress:
          type: number
        projected_completion:
          type: string
          format: date

    VelocityAnalytics:
      type: object
      properties:
        current_velocity:
          type: number
          description: "Current sprint velocity"
        average_velocity:
          type: number
          description: "Average across analyzed sprints"
        velocity_trend:
          type: string
          enum: [increasing, stable, decreasing]
        sprint_data:
          type: array
          items:
            type: object
            properties:
              sprint_number:
                type: integer
              start_date:
                type: string
                format: date
              end_date:
                type: string
                format: date
              planned_points:
                type: number
              completed_points:
                type: number
              tasks_completed:
                type: integer
              velocity:
                type: number
        predictability:
          type: object
          properties:
            standard_deviation:
              type: number
            consistency_score:
              type: number
              minimum: 0
              maximum: 100
        capacity_analysis:
          type: object
          properties:
            team_capacity:
              type: number
            utilization_rate:
              type: number
            recommended_velocity:
              type: number

    ForecastAnalytics:
      type: object
      properties:
        entity_type:
          type: string
        horizon:
          type: string
        confidence_level:
          type: number
        predictions:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              predicted_value:
                type: number
              lower_bound:
                type: number
              upper_bound:
                type: number
              probability:
                type: number
        key_factors:
          type: array
          items:
            type: object
            properties:
              factor:
                type: string
              impact:
                type: string
                enum: [positive, negative, neutral]
              weight:
                type: number
        recommendations:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              expected_impact:
                type: string
              priority:
                type: string
                enum: [low, medium, high]
        accuracy_metrics:
          type: object
          properties:
            historical_accuracy:
              type: number
            model_confidence:
              type: number
            data_quality_score:
              type: number

    AnalyticsDashboard:
      type: object
      properties:
        dashboard_type:
          type: string
        generated_at:
          type: string
          format: date-time
        widgets:
          type: array
          items:
            $ref: '#/components/schemas/DashboardWidget'
        kpis:
          type: array
          items:
            $ref: '#/components/schemas/KPIWidget'
        charts:
          type: array
          items:
            $ref: '#/components/schemas/ChartWidget'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/DashboardAlert'

    DashboardWidget:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [metric, chart, table, summary]
        title:
          type: string
        position:
          type: object
          properties:
            x:
              type: integer
            y:
              type: integer
            width:
              type: integer
            height:
              type: integer
        data:
          type: object
        refresh_interval:
          type: integer
          description: "Refresh interval in seconds"

    KPIWidget:
      type: object
      properties:
        name:
          type: string
        value:
          type: number
        unit:
          type: string
        change:
          type: object
          properties:
            value:
              type: number
            percentage:
              type: number
            direction:
              type: string
              enum: [up, down, stable]
        target:
          type: number
        status:
          type: string
          enum: [on_target, above_target, below_target]

    ChartWidget:
      type: object
      properties:
        type:
          type: string
          enum: [line, bar, pie, donut, area, scatter]
        title:
          type: string
        series:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              data:
                type: array
                items:
                  type: object
        options:
          type: object

    DashboardAlert:
      type: object
      properties:
        type:
          type: string
          enum: [info, warning, critical]
        title:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        action_required:
          type: boolean
        action_url:
          type: string
          format: uri

    ComparisonAnalytics:
      type: object
      properties:
        comparison_type:
          type: string
        entity_a:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            metrics:
              type: object
              additionalProperties:
                type: number
        entity_b:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            metrics:
              type: object
              additionalProperties:
                type: number
        differences:
          type: object
          additionalProperties:
            type: object
            properties:
              value_a:
                type: number
              value_b:
                type: number
              difference:
                type: number
              percentage_difference:
                type: number
        winner:
          type: string
          description: "Entity performing better overall"
        insights:
          type: array
          items:
            type: string

    AnalyticsInsight:
      type: object
      properties:
        id:
          type: string
          format: objectId
        type:
          type: string
          enum: [performance, trend, anomaly, opportunity, risk]
        severity:
          type: string
          enum: [info, warning, critical]
        title:
          type: string
        description:
          type: string
        data_points:
          type: array
          items:
            type: object
        recommendations:
          type: array
          items:
            type: string
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
        generated_at:
          type: string
          format: date-time

    MetricDefinition:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
        description:
          type: string
        formula:
          type: string
        unit:
          type: string
        data_source:
          type: string
        refresh_frequency:
          type: string
        is_kpi:
          type: boolean
        target_value:
          type: number
        threshold_values:
          type: object
          properties:
            excellent:
              type: number
            good:
              type: number
            acceptable:
              type: number
            poor:
              type: number

    IndustryBenchmarks:
      type: object
      properties:
        industry:
          type: string
        company_size:
          type: string
        sample_size:
          type: integer
        last_updated:
          type: string
          format: date
        metrics:
          type: object
          properties:
            okr_completion_rate:
              $ref: '#/components/schemas/BenchmarkMetric'
            goal_achievement_rate:
              $ref: '#/components/schemas/BenchmarkMetric'
            task_velocity:
              $ref: '#/components/schemas/BenchmarkMetric'
            assessment_scores:
              type: object
              properties:
                speed:
                  $ref: '#/components/schemas/BenchmarkMetric'
                strength:
                  $ref: '#/components/schemas/BenchmarkMetric'
                intelligence:
                  $ref: '#/components/schemas/BenchmarkMetric'
            engagement_rate:
              $ref: '#/components/schemas/BenchmarkMetric'

    BenchmarkMetric:
      type: object
      properties:
        average:
          type: number
        median:
          type: number
        percentiles:
          type: object
          properties:
            p25:
              type: number
            p50:
              type: number
            p75:
              type: number
            p90:
              type: number
        top_performer:
          type: number
          description: "95th percentile value"

    RealTimeAnalytics:
      type: object
      properties:
        active_users:
          type: object
          properties:
            count:
              type: integer
            users:
              type: array
              items:
                type: object
                properties:
                  user_id:
                    type: string
                    format: objectId
                  name:
                    type: string
                  last_action:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        recent_completions:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [objective, goal, task]
              id:
                type: string
                format: objectId
              title:
                type: string
              completed_by:
                $ref: '#/components/schemas/UserSummary'
              completed_at:
                type: string
                format: date-time
        progress_updates:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              id:
                type: string
                format: objectId
              title:
                type: string
              old_progress:
                type: number
              new_progress:
                type: number
              updated_by:
                $ref: '#/components/schemas/UserSummary'
              updated_at:
                type: string
                format: date-time
        system_metrics:
          type: object
          properties:
            response_time_ms:
              type: number
            active_sessions:
              type: integer
            queue_size:
              type: integer

    # ============================================================
    # PART 5 SCHEMAS - Admin, Cascade, Utilities
    # ============================================================

    # Admin Schemas
    ServiceHealth:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        responseTime:
          type: number
          description: Service response time in ms
        lastCheck:
          type: string
          format: date-time
        error:
          type: string
          description: Error message if unhealthy

    SystemStatus:
      type: object
      properties:
        server:
          type: object
          properties:
            cpu_usage:
              type: number
              description: CPU usage percentage
            memory_usage:
              type: number
              description: Memory usage percentage
            disk_usage:
              type: number
              description: Disk usage percentage
            uptime:
              type: integer
              description: Server uptime in seconds
        database:
          type: object
          properties:
            status:
              type: string
            connection_pool:
              type: object
              properties:
                active:
                  type: integer
                idle:
                  type: integer
                max:
                  type: integer
        cache:
          type: object
          properties:
            status:
              type: string
            hit_rate:
              type: number
              description: Cache hit rate percentage
            memory_usage:
              type: number
        jobs:
          type: object
          properties:
            pending:
              type: integer
            processing:
              type: integer
            failed:
              type: integer
        active_sessions:
          type: integer
        active_users:
          type: integer
        recent_errors:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              level:
                type: string
                enum: [error, warning]
              message:
                type: string
              stack:
                type: string

    SystemConfig:
      type: object
      properties:
        featureFlags:
          type: object
          properties:
            ai_okr_enabled:
              type: boolean
            analytics_enabled:
              type: boolean
            invitations_enabled:
              type: boolean
            cascade_enabled:
              type: boolean
        rateLimits:
          type: object
          properties:
            api_requests_per_minute:
              type: integer
            bulk_operations_per_hour:
              type: integer
            file_upload_max_size_mb:
              type: integer
        emailSettings:
          type: object
          properties:
            provider:
              type: string
            from_address:
              type: string
            daily_limit:
              type: integer
        maintenanceWindow:
          type: object
          properties:
            enabled:
              type: boolean
            start_time:
              type: string
              format: date-time
            end_time:
              type: string
              format: date-time
            message:
              type: string
        environment:
          type: string
          enum: [development, staging, production]

    # OKR Cascade Schemas
    CascadeMap:
      type: object
      properties:
        parent_id:
          type: string
          format: uuid
        children:
          type: array
          items:
            type: object
            properties:
              objective_id:
                type: string
                format: uuid
              target_type:
                type: string
                enum: [team, user, department]
              target_id:
                type: string
                format: uuid
              target_name:
                type: string
              weight:
                type: number
              status:
                type: string
                enum: [active, completed, at_risk]
        total_weight:
          type: number
          description: Sum of all children weights (should be 100)
        distribution_mode:
          type: string
          enum: [equal, weighted, custom]

    CascadeTree:
      type: object
      properties:
        root:
          $ref: '#/components/schemas/CascadeNode'
        depth:
          type: integer
          description: Maximum depth of the tree
        total_nodes:
          type: integer
        overall_progress:
          type: number
          description: Weighted average progress across all nodes

    CascadeNode:
      type: object
      properties:
        objective:
          $ref: '#/components/schemas/Objective'
        parent_id:
          type: string
          format: uuid
        weight:
          type: number
          description: Contribution weight to parent
        children:
          type: array
          items:
            $ref: '#/components/schemas/CascadeNode'
        level:
          type: integer
          description: Depth level in the tree
        alignment_health:
          type: string
          enum: [aligned, partially_aligned, misaligned]
          description: Alignment status with parent

    ObjectiveRelationship:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_id:
          type: string
          format: uuid
        child_id:
          type: string
          format: uuid
        relationship_type:
          type: string
          enum: [cascaded, supporting, dependency]
        weight:
          type: number
        created_at:
          type: string
          format: date-time
        created_by:
          $ref: '#/components/schemas/UserSummary'

    AlignmentReport:
      type: object
      properties:
        company_id:
          type: string
          format: uuid
        period:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
        overall_alignment_score:
          type: number
          description: 0-100 score of organizational alignment
        cascade_coverage:
          type: number
          description: Percentage of objectives that are cascaded
        department_alignment:
          type: array
          items:
            type: object
            properties:
              department_id:
                type: string
                format: uuid
              department_name:
                type: string
              alignment_score:
                type: number
              cascaded_objectives:
                type: integer
              total_objectives:
                type: integer
        team_alignment:
          type: array
          items:
            type: object
            properties:
              team_id:
                type: string
                format: uuid
              team_name:
                type: string
              alignment_score:
                type: number
              cascaded_objectives:
                type: integer
              total_objectives:
                type: integer
        orphaned_objectives:
          type: array
          description: Objectives with no parent linkage
          items:
            type: object
            properties:
              objective_id:
                type: string
                format: uuid
              title:
                type: string
              owner:
                $ref: '#/components/schemas/UserSummary'
        recommendations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [cascade_opportunity, alignment_issue, orphaned_objective]
              priority:
                type: string
                enum: [high, medium, low]
              message:
                type: string
              suggested_action:
                type: string

    CascadeValidation:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              field:
                type: string
        warnings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
        suggestions:
          type: array
          items:
            type: string
        weight_total:
          type: number
          description: Sum of all cascade target weights

    # Utility Schemas
    FileUpload:
      type: object
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        original_name:
          type: string
        mime_type:
          type: string
        size:
          type: integer
          description: File size in bytes
        context:
          type: string
          enum: [objective, task, assessment, profile, general]
        entity_id:
          type: string
          format: uuid
        description:
          type: string
        url:
          type: string
          description: Download URL
        thumbnail_url:
          type: string
          description: Thumbnail URL for images
        uploaded_by:
          $ref: '#/components/schemas/UserSummary'
        uploaded_at:
          type: string
          format: date-time
        virus_scan_status:
          type: string
          enum: [pending, clean, infected]

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [objective, task, assessment, invitation, cascade, system]
        title:
          type: string
        message:
          type: string
        data:
          type: object
          description: Notification-specific data
        read:
          type: boolean
        created_at:
          type: string
          format: date-time
        read_at:
          type: string
          format: date-time
        action_url:
          type: string
          description: URL to navigate to on click
        sender:
          $ref: '#/components/schemas/UserSummary'

    SearchResults:
      type: object
      properties:
        query:
          type: string
        total:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'

    SearchResult:
      type: object
      properties:
        type:
          type: string
          enum: [objective, goal, task, user, team]
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        relevance_score:
          type: number
          description: Search relevance score (0-1)
        highlight:
          type: string
          description: Highlighted text snippet with matches
        metadata:
          type: object
          description: Type-specific metadata
        url:
          type: string
          description: URL to the entity

paths:
  /api/auth/register:
    post:
      tags:
        - Authentication
      summary: Register user (proxy to IAM engine)
      description: |
        Proxy endpoint to IAM engine for user registration.
        This endpoint forwards the request to the IAM microservice.

        **Note:** Most clients should use `/api/auth/signup` instead for complete account setup.
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 6
                first_name:
                  type: string
                last_name:
                  type: string
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Registration service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Registration service unavailable"

  /api/auth/signup:
    post:
      tags:
        - Authentication
      summary: Signup new company and business owner
      description: |
        Complete signup flow that creates:
        1. New Company record
        2. Business Owner user account
        3. JWT authentication token

        The company starts in 'trial' status with 14-day trial period.
        The user is automatically assigned BUSINESS_OWNER role.
      operationId: signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
        '400':
          description: Invalid request or email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingFields:
                  summary: Missing required fields
                  value:
                    success: false
                    message: "Missing required fields: email, password, first_name, last_name, company_name"
                emailExists:
                  summary: Email already registered
                  value:
                    success: false
                    message: "Email already registered. Please login instead."
        '500':
          description: Server error during signup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: |
        Authenticate user with email and password.
        Returns JWT token valid for 7 days.

        Updates user's last_login timestamp and increments login_count.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Missing email or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Email and password are required"
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Invalid email or password"
        '403':
          description: Account suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Account has been suspended. Please contact support."
        '500':
          description: Server error during login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/validate:
    post:
      tags:
        - Authentication
      summary: Validate JWT token (proxy to IAM)
      description: |
        Validates a JWT token by forwarding to IAM engine.
        Returns token validity and decoded payload.
      operationId: validateToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTokenRequest'
      responses:
        '200':
          description: Token validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  valid:
                    type: boolean
                  decoded:
                    type: object
        '500':
          description: Token validation service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/me:
    get:
      tags:
        - Authentication
      summary: Get current authenticated user
      description: |
        Returns the authenticated user's profile information.
        Proxies request to IAM engine with Authorization header.
      operationId: getCurrentUser
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: User service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout (proxy to IAM)
      description: |
        Logout the current user.
        Forwards request to IAM engine for session invalidation.
      operationId: logout
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '500':
          description: Logout service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/users:
    get:
      tags:
        - Authentication
      summary: Get business users
      description: |
        Get all active users for the authenticated user's company.

        **Authorization:**
        - Requires valid JWT token
        - Returns users scoped to user's business_id
        - Only returns active users
      operationId: getBusinessUsers
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSummary'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
[...]
